<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../src/styles/login.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <form>
                <input type="email" placeholder="Digite seu email" id="email">
                <br>
                <input type="password" placeholder="Digite sua senha" id="senha"><button type="button"onclick="ver_senha()">View</button>
                <br>
                <input type="button" id="botao" value="Enviar">
                <br><br>
                <hr>
                <br>
                Esqueci minha senha?

            </form> 
        </div>

        <div class="right">
            <img src="../src/svg/login-rafiki.svg">
        </div>
           
    </div>
    


    <script type="text/javascript">
        const botao = document.getElementById('botao');
        const email_us = document.getElementById('email');
        const senha_us = document.getElementById('senha');
        


        botao.addEventListener("click", async() => {
            const url = "http://127.0.0.1:3000/auth/login/";
            
            if(email_us.value != "" && senha_us.value != "")
            {
                const data = {
                    email: `${email_us.value}`,
                    password: `${senha_us.value}`,
                };

               await fetch(`${url}`,{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data),
                    } 
                 ).then(async function(resp){
                    let dados = await resp.json();
                    let { token: tokenzinho } = dados;
                    localStorage.setItem('token', tokenzinho);
                    if(tokenzinho != "" && typeof tokenzinho != "undefined" && dados.msg != "")
                    {
                        console.log(tokenzinho);
                        window.location.href = "dashboard.html";
                    }
                    else
                    {
                        alert("informacoes erradas");
                    }
                    
                 });
            }
            else
            {
                alert("PREENCHA TODAS INFORMACOES");
            }
        })
    </script>
    
</body>
</html>